
<div class="chat">
	
	<!-- 头部 -->

		<ion-header-bar align-title="center" class="bar-assertive">
			  <div class="buttons">
			    <button class="button button-icon ion-chevron-left" ng-click="gomy()"></button>
			  </div>
			  <h1 class="title">聊天界面</h1>
			  <div class="buttons">
			    <button class="button button-icon ion-chevron-right" ng-click= "gonewproduce()"></button>
			  </div>
		</ion-header-bar>

		
		<ion-content>
			
			<div class="time">
				<p>09-19  11:22:55</p>
			</div>

			<div class="chat_01">	

				<div class="person fr"><img src="./images/QiangXu_HeadPortrait_img1@3x.png"></div>

				<div class="fr dialog">

					<p>在吗？  </p>
					<span>已读</span>
					
				</div>
			</div>


			<div class="chat_02">
				<div class="logo fl"><img src="./images/QiangXu_HeadPortrait_img2@3x.png"> </div>
				<div class="fl reply">
					<h5>强旭商城</h5>
					<p>亲，咨询人数较多，有时回复会比较慢，请尽量自助购物，能拍下的商品都是有货的，本商城默认发申通或中通，如需指定快递下单时请留言或 </p>
				</div>

			</div>
			


		</ion-content>

		<ion-footer-bar align-title="left" class="bar-stable">
			  <div class="buttons">
			    <button class="button button-icon ion-mic-a"></button>
			  </div>
			  <div class="ipt"><input type="text" name=""></div>
			  <div class="buttons btn02" >
			     <button class="button button-icon ion-happy-outline" ng-click="doSomething()"></button>
			     <button class="button button-icon ion-ios-plus-outline" ng-click="doSomething()"></button>
			  </div>
		</ion-footer-bar>

</div>