
	<div class="overdueCoupon">

	<!-- 头部 -->
	
		<ion-header-bar align-title="center" class="bar-assertive">

			    <div class="buttons">
			    	<button class="button button-icon icon ion-chevron-left" ng-click="gonews()"></button>
			    </div>

			    <h1 class="title">优惠券</h1>

			    <div class="buttons">
			    	<button class="button ion-chevron-right" ng-click="gohelp()"></button>
			    </div>
		</ion-header-bar>


		<ion-content>
<!-- 
				<div class="btn">
					
					<button class="button effective button-block button-assertive">可使用  (5) </button>

					<button class="button overdue button-block button-assertive">已过期  (3) </button>

				</div> -->

				<div class="row">
					    <div class="col ">
					        <div class="col-demo">

					             <button class="button effective button-block button-assertive">可使用  (5) </button>

					        </div>

					    </div>

					    <div class="col cols">

					        <div class="col-demo">

					        	<button class="button overdue button-block">已过期  (3) </button>
					        </div>

						</div>
			    </div>


				<div class="row">
					    <div class="col col-33">
					        <div class="col-demo">

					        	<h2>￥100</h2>

					        	<h5>满1000使用</h5>

					        </div>
					    </div>

					    <div class="col cols">
					        <div class="col-demo">
					        	<h5>强旭商城全场通用优惠券</h5>

					        	<h6>已过期，有效期至2017-1-31</h6>

					        	<p>在线支付专享</p>

					        </div>
						</div>
			    </div>

			    <div class="row Coupon">
					    <div class="col col-33">
					        <div class="col-demo">

					        	<h2>￥100</h2>

					        	<h5>满1000使用</h5>

					        </div>
					    </div>
					    <div class="col cols">
					        <div class="col-demo">
					        	<h5>强旭商城全场通用优惠券</h5>

					        	<h6>已过期，有效期至2017-1-31</h6>

					        	<p>在线支付专享</p>

					        </div>
						</div>
			    </div>

			    <div class="row">
					    <div class="col col-33">
					        <div class="col-demo">

					        	<h2>￥100</h2>

					        	<h5>满1000使用</h5>

					        </div>
					    </div>

					    <div class="col cols">
					        <div class="col-demo">
					        	<h5>强旭商城全场通用优惠券</h5>

					        	<h6>已过期，有效期至2017-1-31</h6>

					        	<p>在线支付专享</p>

					        </div>
						</div>
			    </div>
			



		</div>
		
		</ion-content>

	

		


		

		








	</div>

