
<div class="collect">
	
	<ion-header-bar align-title="center" class="bar-assertive">
			  <div class="buttons">
			    <button class="button button-icon ion-chevron-left" ng-click="gohome()"></button>
			  </div>
			  <h1 class="title">我的收藏</h1>
			  <div class="buttons">
			    <button class="button button-icon" ng-click= "gonewproduce()">编辑</button>
			  </div>
	</ion-header-bar>


	<ion-content>

		<div class="list">

		    <div class="item item-thumbnail-left" href="#">
		      <img src="./images/Protective-clothing01 (1).png">
		      <span>￥888</span>
		      <h2>可调节护颈</h2>
		       <span class="unprice">￥999</span>
		      <p>套餐类型：套餐六；颜色分类：蓝色 </p>
		      <p>七天退换</p>
		    </div>

		    <div class="item item-thumbnail-left" href="#">
		      <img src="./images/Protective-clothing01 (1).png">
		      <span>￥888</span>
		      <h2>可调节护颈</h2>
		       <span class="unprice">￥999</span>
		      <p>套餐类型：套餐六；颜色分类：蓝色 </p>
		      <p>七天退换</p>
		    </div>

		    <div class="item item-thumbnail-left" href="#">
		      <img src="./images/Protective-clothing01 (1).png">
		      <span>￥888</span>
		      <h2>可调节护颈</h2>
		       <span class="unprice">￥999</span>
		      <p>套餐类型：套餐六；颜色分类：蓝色 </p>
		      <p>七天退换</p>
		    </div>

		    
		</div>


		
	</ion-content>

</div>