

.camera{
	width: 100px;
	height: 100px;
	margin-left: 15px;
	margin-top: 15px;
	border: 1px dashed #aaa;
	text-align: center;	
}

textarea{
	width: 100%;
	padding: 0 10px;
	resize: none;
	text-indent: 28px;
}

.myassess{
	margin-bottom: 15px;
}

.myassess i{
	font-size: 42px;

}

.myassess p{
	font-size: 18px;
}

.item-icon span{
	margin-right: 15px;
}


.checkbox-assertive p{
	font-size: 12px;
	float: right;
	margin-left: 30px;
	margin-top: 5px;
}

.item-icon i{
	margin-left: 5px;
}

.item-icon{
	 border: 0;
	 padding: 5px;
	 margin-left:10px;
}

.list02{
	margin-top: 10px;
}



