
<div class="assess">
	
	<ion-header-bar align-title="center" class="bar-assertive">
			  <div class="buttons">
			    <button class="button button-icon ion-chevron-left" ng-click="gomy()"></button>
			  </div>
			  <h1 class="title">发表评价</h1>
			  <div class="buttons">
			    <button class="button button-icon" ng-click= "gonewproduce()">发布</button>
			  </div>
	</ion-header-bar>


	<ion-content>

		<div class="list">

		    <div class="item item-thumbnail-left" href="#">
		      <img class="" src="./images/batsc_product_img@3x.png"/>
		      <p>描述.....</p>
		    </div>

		</div>

		<div class="myassess">
			<div class="ipt">
				<textarea rows='3' cols='20'>宝贝满足你的期待吗？说说它的优点和美中不足的地方吧
				</textarea>
			</div>
			<div class="camera">
				<i class="ion-ios-camera-outline"></i>
			    <p>添加相片</p>
			</div>
		</div>

		<ion-list>
		  	<ion-checkbox class="checkbox-assertive" ng-model="filter.blue">
		  		<p>你的评价能帮助其他小伙伴哟</p>
		  		匿名
			</ion-checkbox>
		</ion-list>

		<div class="list list02">

		  <div class="item item-icon" href="#">
		    <span>物流服务   </span>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		  </div>
		  <div class="item item-icon" href="#">
		    <span>服务态度   </span>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		  </div>
		  <div class="item item-icon" href="#">
		    <span>物流服务   </span>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		  </div>

		</div>  
		
	</ion-content>

</div>