
	<div class="newReceivingaddress">

		<!-- 头部 -->
		<ion-header-bar align-title="center" class="bar-assertive">
			  <div class="buttons">
			    	 <button class="button button-icon icon ion-chevron-left" ng-click="gopersonalCenter()"></button>
			  </div>

			  <h1 class="title">新增收货地址</h1>

			  <div class="buttons">
			    	<button class="button" ng-click="gohelp()">帮助</button>
			  </div>

		</ion-header-bar>


		<!-- <div class="bar bar-header bar-light">
		  <button class="button button-icon icon ion-chevron-left" ng-click="gopersonalCenter()"></button>
		  <div class="h1 title">新增收货地址</div>
		</div> -->


		<!-- 内容 -->
		<ion-content>

			<div class="form">
				<div class="list">
					<div class="item item-input">
						<span class="accounts">收货人姓名</span>
						<input type="text" name="" placeholder="" />
					</div>
					<div class="item item-input">
						<span class="password">手机号码</span>
						<input type="text" name="" placeholder="" />
					</div>
					<div class="item item-input">
						<span class="accounts">省、市、区</span>
						<input type="text" name="" placeholder="" />
					</div>
					<div class="item item-input">
						<span class="password">街道</span>
						<input type="text" name="" placeholder="" />
					</div>
					<div class="item item-input">
						<span class="password">邮政编码</span>
						<input type="text" name="" placeholder="" />
					</div>
					<div class="item item-input">
						<span class="password">详细地址</span>
						<input  class="textarea" type="textarea" name="" placeholder=""  />
					</div>

					
					<button class="button button-assertive button-block">保存</button>
					
				</div>
			</div>

		</ion-content>	

	</div>

