
<div class="addcart">

		<ion-content>

			<div class="list">
			    <div class="item item-thumbnail-left" href="#">
			      <img src="./images/batsc_product_img@3x.png">
			      <span>￥888</span>
			      <span class="fr"><i class="ion-ios-close-outline"></i></span>
			      <h2>库存888件</h2>
			      <p>已选：“200S/小号颈高12cm（颈围35-40）”</p>
			    </div>
			</div>

			<div class="classify">

				<p>颜色分类</p>
				
				<ul ng-controller="addcartController">
					<li ng-repeat="item in data track by $index">{{item.code}}</li>
				</ul>

			</div>

			<div class="number">

				<div class="fl"><span>购买数量</span></div>

				<div class="fr">
					<i class="ion-ios-minus-outline"></i>
					<span>1</span>
					<i class="ion-ios-plus-outline"></i>
				</div>

			</div>
		</ion-content>

		<ion-footer-bar align-title="center" class="bar-assertive">
		  
		  <h1 class="title">确定</h1>  
		</ion-footer-bar>
		
</div>