

	
		<div class="guide"  animation="slide-left-right-ios7">
			    <ion-slide-box active-slide="myActiveSlide">
			    	 <ion-slide>
				        <div class="box"><img src="./images/bootpagestart.png"></div>
				      </ion-slide>
				      <ion-slide>
				        <div class="box"><img src="./images/bootpagebanner01.png"></div>
				      </ion-slide>
				      <ion-slide>
				        <div class="box"><img src="./images/bootpagebanner02.png"></div>
				      </ion-slide>
				      <ion-slide>
				        <div class="box">
				        <img src="./images/bootpagebanner03.png">
				         <button ng-click="goregister()"> 进 入 强 旭 </button>
				        </div>
				      </ion-slide>
			     
			    </ion-slide-box>
        </div> 
	

