
	<div class="resetpaypassword">

		
		<!-- 头部 -->
		<ion-header-bar align-title="center" class="bar-assertive">

			  <div class="buttons">

			    	<button class="button button-icon icon ion-chevron-left"></button>
			  </div>

			  <h1 class="title">重置支付密码</h1>

			  <div class="buttons">
			    	<button class="button" ng-click="gohelp()">帮助</button>
			  </div>

		</ion-header-bar>


		<!-- <div class="bar bar-header bar-light">
		  <button class="button button-icon icon ion-chevron-left"></button>
		  <div class="h1 title">重置支付密码</div>
		</div> -->



		<!-- 内容 -->
		<ion-content>

			<div class="">

				<p>输入支付密码，完成身份验证</p>

			</div>

			<div class="pwd">
				<ul>

					<li>5</li>

					<li>1</li>
					<li>5</li>
					<li>8</li>
					<li>8</li>
					<li>7</li>


				</ul>

			</div>

		</ion-content>


		<!-- <div class="content">
			<ul class="list">

			    <li class="item">

			    	

			    
			    </li>
			</ul>
		</div> -->

		<!-- <div class="row">
			  <div class="col"><span>1</span></div>
			  <div class="col"><span>2</span></div>
			  <div class="col"><span>3</span></div>
			  <div class="col"><span>5</span></div>
			  <div class="col"><span>8</span></div>
			  <div class="col"><span>6</span></div>
		</div>    
		   
 -->


	</div>

