
p{
	text-align: center;
	font-size: 18px !important;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #aaa;
	padding-bottom: 20px;
}

.pwd ul{
	margin-left: 4%;
    overflow: hidden;
    margin-right: 4%;
    width: 100%;
}
.pwd ul li{
	width: 15%;
	float: left;
	background: #eee;
	height: 48px;
	line-height: 48px;
	margin: 1px;
	text-align: center;
}
